<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>header</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="shortcut icon" href="http://www.daoway.cn/pcimages/favicon.png">
  <style type="text/css">


  </style>
</head>
<body>

<div class="header">
  <div class="posite clearfix">
    <div class="left">
      <img src="/images/index/logo.png" alt="logo">
      <a class="address" href="javascript:;">
        <img src="/images/index/citypoint.png" alt="citypoint">
        <span class="city">北京</span>
        <span class="city-toggle">切换城市</span>
      </a>
    </div>
    <div class="right">
      <ul class="tab-list">
        <li class="tab-item">
          <a class="tab-btn tab-item">商家登录</a>
        </li>
        <li class="tab-item">
          <a href="/html/aboutus.html">关于我们</a>
        </li>
        <li class="tab-item">
          <a href="/html/login.html">商家入驻</a>
        </li>
        <li class="tab-item">
          <a href="/html/service.html">服务商</a>
        </li>
        <li class="tab-item">
          <a href="/html/downLoadApp.html">下载APP</a>
        </li >
        <li class="tab-item">
          <a href="index.html">首页</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<script src="/javascripts/jQuery.js"></script>
<!--<script type="text/javascript" src="javascript/unslider.js"></script>-->
<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">


</script>
</body>
</html>