<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>service</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <style type="text/css">


  </style>
</head>
<body>

<div class="headerWrap"></div>

<h2 class="h2">服务商</h2>
<div class="service-center clearfix">
  <div class="centerleft">
    <div class="tabdiv" style="position: relative;top: -22px;">
      <ul id="content" class="ulactivety">

       <!-- <li id="800ff6443dd043b39c7f17ede21dfc9d"><img src="http://img.daoway.cn/img/2017/01/20/c3a2490e-04fc-43de-9a05-8a62dce47f57_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>宜生到家</b></p>
          <p class="pp">已接单13004单<i>好评98%</i></p>
        </li>

        <li id="c8e42f7716124bd2ad23c95445002d88"><img src="http://img.daoway.cn/img/2016/12/28/5cf8680f-0264-4686-ba05-145700db6063_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>云家政</b></p>
          <p class="pp">已接单29019单<i>好评86%</i></p>
        </li>

        <li id="dab8bd7932194f07ba754b116f196bbd"><img src="http://img.daoway.cn/img/2016/11/11/450b3aac-c628-4e2f-bed0-331b47136f5b_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>蓝犀牛</b></p>
          <p class="pp">已接单2189单<i>好评98%</i></p>
        </li>

        <li id="fba4e31f6c07416baef89bcbfbf5c910"><img src="http://img.daoway.cn/img/2016/08/24/94117c68-1048-473b-8370-dc40ab66c3e0_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>三鼎家政</b></p>
          <p class="pp">已接单15526单<i>好评84%</i></p>
        </li>

        <li id="cd3bfa5299c54870b6226812283e5141"><img src="http://img.daoway.cn/img/2016/12/22/9fe15bc7-e8fb-4c86-855b-9d5c459741ec_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>家电好师傅</b></p>
          <p class="pp">已接单172单<i>好评100%</i></p>
        </li>

        <li id="3005d55bc96b4b7eaadc53a1c65fe584"><img src="http://img.daoway.cn/img/2017/07/10/08d87d32-d3eb-44aa-8277-2ce5de48fc5e_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>580家政网</b></p>
          <p class="pp">已接单224单<i>好评98%</i></p>
        </li>

        <li id="dc938ed34e6141ee95866fb6a28d89e0"><img src="http://img.daoway.cn/img/2015/09/07/9b7818b5-ee19-4f7d-8f79-15e069b157fd_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>九阿哥</b></p>
          <p class="pp">已接单246单<i>好评94%</i></p>
        </li>

        <li id="80999f240bac4e309a28ebf03a7fd34b"><img src="http://img.daoway.cn/img/2015/12/28/d53343ce-5818-4ebf-9948-d13aa100ef72_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>e修鸽</b></p>
          <p class="pp">已接单1705单<i>好评94%</i></p>
        </li>

        <li id="0e07396610ad40b59aa67f649e753795"><img src="http://img.daoway.cn/img/2017/04/19/e8c8cf3d-c830-48f5-92db-7bbd73e7362b_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>牛机网</b></p>
          <p class="pp">已接单24单<i>好评100%</i></p>
        </li>

        <li id="2316d6d972554724afe616a1a1e98c7e"><img src="http://img.daoway.cn/img/2017/02/14/e2b168c4-c462-48e8-a3a6-dabf56e409b6_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>十分到家</b></p>
          <p class="pp">已接单3587单<i>好评96%</i></p>
        </li>

        <li id="233f096f9d474e009408d8728a58795d"><img src="http://img.daoway.cn/img/2016/09/12/1861ffae-b30c-4bd7-8f32-a7212ca7028b_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>牛牛家电清洗</b></p>
          <p class="pp">已接单285单<i>好评91%</i></p>
        </li>

        <li id="2eb998aff8484283b0747944123a185c"><img src="http://img.daoway.cn/img/2016/11/10/ea63a480-aee1-419a-a3a8-6fec91f101a7_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>捷客帮</b></p>
          <p class="pp">已接单11单<i>好评100%</i></p>
        </li>

        <li id="2fcf5e4e60734cdcaadbe170785f74be"><img src="http://img.daoway.cn/img/2016/10/24/64279037-9666-4944-9b9e-8a9e68c4b6a8_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>24到家</b></p>
          <p class="pp">已接单1307单<i>好评98%</i></p>
        </li>

        <li id="e2b0df66e4f846babece2823f1f6149b"><img src="http://img.daoway.cn/img/2016/07/01/885752fc-810a-4aa7-817e-2ee9b8d786e3_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>小猴快修</b></p>
          <p class="pp">已接单153单<i>好评87%</i></p>
        </li>

        <li id="f223422b6b0a48c3b5a1bcd993873306"><img src="http://img.daoway.cn/img/2016/09/07/9df2cce4-8ca2-4e53-b409-d2b31c321bb1_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>康吸来了</b></p>
          <p class="pp">已接单28单<i>好评100%</i></p>
        </li>

        <li id="cb255185c2834d6ea419ca0fa7e19d3a"><img src="http://img.daoway.cn/img/2017/04/07/3b0faa5c-fb6a-44a9-8251-d79a4a700a56_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>极客修</b></p>
          <p class="pp">已接单671单<i>好评98%</i></p>
        </li>

        <li id="c123d552dcb14207aa22cda6ea82f649"><img src="http://img.daoway.cn/img/2016/11/08/e874effd-75d5-408a-84a9-73bfe135b666_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>美着呢</b></p>
          <p class="pp">已接单182单<i>好评92%</i></p>
        </li>

        <li id="092ea053025d453ca03320c527fe7914"><img src="http://img.daoway.cn/img/2017/01/04/1a613387-b206-4404-866a-b787ce234c56_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>想帮帮</b></p>
          <p class="pp">已接单108单<i>好评100%</i></p>
        </li>

        <li id="5905572d6a79469ca300fb38dd120b66"><img src="http://img.daoway.cn/img/2016/09/27/3d2c1284-6a2e-482f-b497-786eac9ae6b4_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>e清洗</b></p>
          <p class="pp">已接单296单<i>好评82%</i></p>
        </li>

        <li id="1396167d25694952a788f7182ec06d7c"><img src="http://img.daoway.cn/img/2016/10/27/bd431f10-b8d8-4936-acb7-950e9f7a0ed3_thumb.jpg" width="210" height="210">
          <p style="margin-top: 15px"><img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>超级阿姨</b></p>
          <p class="pp">已接单1042单<i>好评86%</i></p>
        </li>-->

      </ul>
    </div>
    <div id="getServiceList" serviceitemlength="20" class="fenye" style="display: block;">
      <span>查看更多商家<img style="margin-left: 5px" src="/images/service/fuwu_down2.jpg" width="12" height="7"></span>
    </div>
  </div>
  <div id="jiameng" class="centerright">
    <img style="cursor: pointer" src="/images/service/tuijianfuwushang_03.jpg" width="230" height="auto">
    <div class="erweima"><img src="/images/service/daowayApp.png" width="130" height="auto"></div>
  </div>
</div>
  <h3 id="show" style="text-align: center">没有更多了~~~~</h3>


  <!--显示主体内容-->
  <script id="ContentTemp" type="text/html">
  <% for(var i=0;i< service.length;i++){ %>
  <a href="/html/shangjia_detail.html?serviceId=<%= service[i].serviceId %>">
    <li id="<%= service[i].serviceId %>"><img src="<%= service[i].imgUrl %>" width="210" height="210">
      <p style="margin-top: 15px">
        <img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17">
        <b><%= service[i].serviceName %></b>
      </p>
      <p class="pp">已接单<%= service[i].time %>单<i>好评 <%= service[i].score %> %</i></p>
    </li>
  </a>
    <% } %>
  </script>

  <div class="footerWrap"></div>

<script src="/javascripts/jQuery.js"></script>
<script type="text/javascript" src="/javascripts/template-web.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/showHead.js"></script>
<script type="text/javascript">

  $(function () {
    /*前端模板引擎，动态显示页面*/
    $('#show').hide()
    var $content = $('#content')
    $.get('/service',function (data) {
      var html = template('ContentTemp',data)
      $(html).appendTo($content)
      //console.log(data.service.length)
    })

    /*点击加载更多*/
    var n=1;
    var min=0;
    var $content = $('#content')
    $('#getServiceList').click(function () {
      $.get('/service',function (data) {
        var service = data.service;
        for(var i=min;i<n*4;i++){
          var text=`<li id=${service[i].serviceId}><img src=${service[i].imgUrl} width="210" height="210">
          <p style="margin-top: 15px">
          <img style="margin-bottom: 5px" src="/images/service/home1.png" width="18" height="17"><b>${service[i].serviceName}</b></p>
          <p class="pp">已接单${service[i].time}单<i>好评${service[i].score}%</i></p>
        </li>`
        $(text).appendTo($content)
        }
      })
      if(n>=5){
        $('#show').show()
       $('#getServiceList').hide()
         return
      }
      min = n*4;
      n++;
    })



  /*显示头部及尾部*/
    $(document).ready(function () {
      $('.headerWrap').load('./header.html')
      $('.footerWrap').load('./footer.html')
    })


  })


</script>
</body>
</html>